<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd> {{descriptionHero}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button class="btn btn-primary mx-2" (click)="changeNameHero()">
  Cambiar nombre
</button>

<button class="btn btn-success" (click)="changeAgeHero()">
  Cambiar Edad
</button>

<button class="btn btn-danger mx-2" (click)="resentHero()">
  Cambiar Edad
</button>

<hr>
<button class="btn btn-primary mx-2" (click)="mostrarMsj = !mostrarMsj">
  Ocultar msj
</button>

<p *ngIf="mostrarMsj">Este msj se puede ocultar</p>
